body.no-script{
	background-color: #f4f4f2;
	font-family: "Hanuman",serif;
}
.search-block{
	background-color: #eee;
	border-bottom: 1px solid #ccc;
	height: 35px;
	margin-top: -10px;
}
.pagetop{
	margin-top: 10px;
	padding-left: 0px;
}
.pagetop li{
	display: inline;
	padding: 10px;
}
.logo-block{
	padding-bottom: 10px;
	padding-top: 10px;
}
.container{
	background-color: #fff;
	margin-bottom: 10px;
	margin-top: 10px;
}
.navbar{
	border-radius: 0 !important;
}
.nav li a{
	color: #000 !important;
    font-size: 22px;
    font-family: inherit;
	font-weight: bold;
    padding-left: 0 !important;
    padding-right: 25px !important;
}
.nav li a:hover{
	color: #000;
	opacity: 0.7;
}
.nav .home{
	padding-top: 8px !important;
}
.navbar-collapse{
	padding-left: 0 !important;
	padding-right: 0 !important;
}
.navbar-inverse{
	background-color: transparent !important;
	border: none !important;
	border-bottom: 1px solid #ddd !important;
}
.navbar-inverse .navbar-toggle{
	background-color: #ddd !important;
	border-color: #ddd !important;
}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover{
	/*background-color: #ddd !important;*/
	opacity: 0.7;
}
.navbar-nav{
	margin: 0 !important;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{
	border-color: #ddd !important;
}
.view-all{
	color: #000 !important;
}
.view-all:hover{
	opacity: 0.7;
	text-decoration: none;
}
.title{
	border-top: 2px solid #000;
	font-size: 22px;
	font-weight: bold;
	margin-bottom: 0px;
	padding-bottom: 10px;
	padding-top: 10px;
}
.title span{
	float: right;
	font-size: 15px;
}
.box{
    background-color: #fff;
    border: 1px solid #ddd;
    height: 300px;
	margin-bottom: 15px;
}
.box .big-img{
	height: 202px;
	padding: 3px;
	width: 100%;
}
.box .news-title{
	color: #000;
	font-size: 15px;
	font-weight: bold;
	height: 68px;
	line-height: 22px;
	margin: 0;
	padding: 12px;
}
.box .post{
	border-bottom: 1px solid #ddd;
    height: 100px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px 0;
}
.border-bottom-none{
	border-bottom: none !important;
}
.box .post .post-img{
	float: left;
	height: 80px;
	width: 95px;
}
.box .post .post-img .small-img{
	height: 100%;
	width: 100%;
}
.box .post .post-info{
	float: right;
    width: 170px;
}
.box .post .post-info .sub-news-title{
	color: #000;
	font-size: 13px;
	font-weight: bold;
	height: 61px;
	line-height: 18px;
	margin: 0px;
}
.box .from{
	color: #a0a0a0;
    font-weight: 600;
    padding-left: 12px;
}
.box .post .post-info .from{
	padding-left: 0px;
}
.from .pr-img{
	height: 18px;
	position: relative;
	top: 0px;
    width: 18px;
}
.from .pr-text{
	font-size: 11px;
	padding-left: 5px;
}
.box .ads{
	height: 300px;
    padding-bottom: 2px;
    padding-right: 1px;
    width: 300px;
}
.fullfooter{
	/*background-color: #eee;*/
	border-top: 1px solid #ccc;
	margin-top: 30px;
	padding-top: 10px;
}
.footer{
	border-top: 1px solid #ddd;
	color: #b9b9b9;
	margin: 25px 0 10px;
	padding: 20px;
}
/** Search **/
#search {
    float: right;
    margin-top: 9px;
    width: 250px;
}

.search {
    padding: 5px 0;
    width: 100%;
    height: 30px;
    position: relative;
    left: 0px;
    float: left;
    line-height: 22px;
}

.search input {
	position: absolute;
	/*width: 0px;*/
	float: Left;
	right: 0;
	margin-left: 210px;
	-webkit-transition: all 0.7s ease-in-out;
	-moz-transition: all 0.7s ease-in-out;
	-o-transition: all 0.7s ease-in-out;
	transition: all 0.7s ease-in-out;
	height: 25px;
	line-height: 18px;
	padding: 0 2px 0 2px;
	border-radius:1px;
}
.search:hover input, .search input:focus {
	width: 100%;
	margin-left: 0px;
}
.btn {
    height: 25px;
    position: absolute;
    right: 0;
    top: 5px;
    border-radius:1px;
    padding: 5px !important;
}
/*** News Detail ***/
.detail-title{
	font-size: 20px;
	font-weight: bold;
	line-height: 30px;
	margin-top: 0px;
	text-align: justify;
}
.details img{
	height: auto;
	width: 100%;
	padding-bottom: 10px;
	padding-top: 10px;
}
.details p{
	font-size: 15px;
	line-height: 22px;
	text-align: justify;
}
.post-date{
	line-height: 35px;
	color: gray;
}
.rs-img{
	height: auto !important;
	margin-top: -3px;
	width: 18px !important;
}

@media (min-width:1200px){
	.container{
		width:963px !important;
	}
	.col-lg-1,
	.col-lg-10,
	.col-lg-11,
	.col-lg-12,
	.col-lg-2,
	.col-lg-3,
	.col-lg-4,
	.col-lg-5,
	.col-lg-6,
	.col-lg-7,
	.col-lg-8,
	.col-lg-9,
	.col-md-1,
	.col-md-10,
	.col-md-11,
	.col-md-12,
	.col-md-2,
	.col-md-3,
	.col-md-4,
	.col-md-5,
	.col-md-6,
	.col-md-7,
	.col-md-8,
	.col-md-9,
	.col-sm-1,
	.col-sm-10,
	.col-sm-11,
	.col-sm-12,
	.col-sm-2,
	.col-sm-3,
	.col-sm-4,
	.col-sm-5,
	.col-sm-6,
	.col-sm-7,
	.col-sm-8,
	.col-sm-9,
	.col-xs-1,
	.col-xs-10,
	.col-xs-11,
	.col-xs-12,
	.col-xs-2,
	.col-xs-3,
	.col-xs-4,
	.col-xs-5,
	.col-xs-6,
	.col-xs-7,
	.col-xs-8,
	.col-xs-9{
		padding-left: 10px !important;
		padding-right: 10px !important;
	}
}


@media only screen and (min-width: 361px) and (max-width: 767px) {
	.box .big-img{
		height: 300px;
	    padding: 3px;
	    width: 100%;
	}

	.box {
	    background-color: #fff;
	    border: 1px solid #ddd;
	    height: 400px;
	    margin-bottom: 15px;
	}

	.box .post .post-info {
	    float: right;
	    width: 82%;
	}
}
.caro-img{
	width: 100%;
	height: 160px;
}
.caro-box{
	height: auto;
}
/* Removes the default 20px margin and creates some padding space for the indicators and controls */
.carousel {
    margin-bottom: -10px;
    margin-top: 10px;
	padding: 0 20px 0;
}
/* Reposition the controls slightly */
.carousel-control {
	bottom: 15px !important;
	left: -12px;
	padding-top: 95px;
	width: 5% !important;
}
.carousel-control.right {
	right: -12px;
}
/* Changes the position of the indicators */
.carousel-indicators {
	right: 50%;
	top: auto;
	bottom: 0px;
	margin-right: -19px;
}
/* Changes the colour of the indicators */
.carousel-indicators li {
	background: #c0c0c0;
}
.carousel-indicators .active {
background: #333333;
}