%form{ action: '/archive', method: 'GET'}
  .ui.input
    %input#search-input{ type: 'text', placeholder: '검색하기', name: 'q', value: params[:q] }

#articles.ui.items
  = render @articles

= link_to '더보기', archive_path(page: (@articles.current_page + 1), q: params[:q]), remote: true, id: "loadMore", class: 'ui button'
